################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreditCard/.vs/CreditCard/FileContentIndex/0352b281-d75b-4006-89a3-cf018beafff1.vsidx
